= form_for @user, :url => registrations_path do |f|
  %pre
    = @user.errors.full_messages.join(", ")
  .field
    %label
      Name
    =  f.text_field :name
    - if @user.errors[:name].present?
      .errors
        = @user.errors[:name].join(", ")
  .field
    %label
      Email
    = f.text_field :email
    - if @user.errors[:email].present?
      .errors
        = @user.errors[:email].join(", ")
  .field
    %label
      Password
    = f.password_field :password
    - if @user.errors[:password].present?
      .errors
        = @user.errors[:password].join(", ")
  .field
    %label
      Password Confirmation
    = f.password_field :password_confirmation
    - if @user.errors[:password_confirmation].present?
      .errors
        = @user.errors[:password_confirmation].join(", ")
  .actions
    = f.submit 'register'
