<!DOCTYPE html>
<html>
<head>
  <title>GithubTracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%- if current_user.present? %>
    <%= link_to 'logout', logout_auth_path, :method => :delete %>
  <%- end %>
  <%- flash.keys.each do |key| %>
    <div id="<%= key %>">
      <%- if flash[key].is_a? Array %>
        <%=h flash[key].join("<br/>") %>
      <%- else %>
        <%= flash[key] %>
      <%- end %>
    </div>
  <%- end %>

<%= yield %>

</body>
</html>
